<!DOCTYPE html>

<html>

<head>
  <title>About [~]</title>
  <link rel="icon" href="/img/weather.png">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <div class="main-content">
    {{>header}}
    <p>Adam created this site to inform the public about the weather.</p>
    <p>The data was provided by mapbox.com & darksky.net.</p>
    <p>Enjoy!</p>
    <img class="portrait" src="/img/megaman.jpg">
  </div>

  {{>footer}}
</body>

</html>